body {
    background: rgb(242, 249, 240);
    color: white;
    font-family:Andale Mono, monospace;
    margin: 0;
    padding: 0;
}
/* nav {
    text-align: right;
} */
header {
    background: rgb(163, 190, 158);
    padding: 30px;
}
section {
    background: rgb(242, 249, 240);
    color: rgb(255, 255, 255);
    padding: 100px;
    display: flex;
    flex-direction: row;
}
.custombox div {
    padding: 200px;
}
div {
    background: rgb(163, 190, 158);
    display: inline-block;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.navright {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
}
.navleft {
    align-items: flex-start;
}

 .tab {
    display: inline-block;
    background-color:rgb(234, 255, 230);
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
}

footer {
    background:rgb(163, 190, 158);
    padding: 10px;
    text-align: center;
}