body {
    background: rgb(242, 249, 240);
    color: white;
    font-family:Andale Mono, monospace;
    margin: 0;
    padding: 0;
}
header {
    background: rgb(163, 190, 158);
    padding: 20px;
}
section {
    background: rgb(242, 249, 240);
    padding: 100px;
    display: flex;
    flex-direction: row;
}
a:link {
    color:rgb(163, 190, 158);
    text-decoration: none;
}
a:hover {
    color: rgb(70, 111, 63);
    text-decoration: underline;
    background-color:rgb(234, 255, 230);
}

a:visited {
    text-decoration: none;
    color:rgb(70, 111, 63);
}

.dogsquare {
    background:rgb(163, 190, 158);
    padding: 100px;
}

.catsquare {
    background:rgb(163, 190, 158);
    padding: 100px;
}
.custombox {
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;
    background: rgb(163, 190, 158);
    display: inline-block;
}
div {
    display: inline-block;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.navright {
    display: inline-block;
    justify-content: space-between;
    align-items: flex-end;
}
.navtab {
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.navleft {
    align-items: flex-start;
    margin-left: 0px;
}

 .tab {
    display: inline-block;
    background-color:rgb(234, 255, 230);
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
}
.cart {
    padding: 200px;
    align-items: flex;
    background:rgb(163, 190, 158);
}

.total {
    padding: 180px 125px;
    border-radius: 0px;
    background:rgb(163, 190, 158);
}

footer {
    background:rgb(163, 190, 158);
    padding: 10px;
    text-align: center;
    margin: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}